.button
{
    -fx-background-color : #14856B;
}
.button:hover
{
    -fx-background-color : #139e7e ;
}
.button:pressed
{
    -fx-background-color : #0dbd94 ;
}
.menu-button
{
    -fx-background-color : #14856B;
}
.menu-button:hover
{
    -fx-background-color : #139e7e ;
}
.menu-button:pressed
{
    -fx-background-color : #0dbd94 ;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}

#rnd{
    -fx-background-color: null;
    -fx-text-fill:#139e7e;
    -fx-font-weight:bold;
    -fx-border-radius: 25;
    -fx-border-color: green;
}

#rnd:hover{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color:null;
    -fx-background-color:#14856B;
    -fx-background-radius: 25;

}
.menu-item:hover
{
    -fx-background-color : #139e7e ;
}
.menu-item:pressed
{
    -fx-background-color : #0dbd94 ;
}

