.button
{
    -fx-background-color : #14856B;
}
.button:hover
{
    -fx-background-color : #139e7e ;
}
.button:pressed
{
    -fx-background-color : #0dbd94 ;
}


.menu-button
{
    -fx-background-color : #14856B;
}
.menu-button:hover
{
    -fx-background-color : #139e7e ;
}
.menu-button:pressed
{
    -fx-background-color : #0dbd94 ;
}
.menu-item:focused{
    -fx-border-radius: 15;
    -fx-border-width: 1,1,1,1;
    -fx-border-color: #12755e;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}
.menu-item:focused:pressed{
    -fx-border-radius: 15;
    -fx-border-width: 1,1,1,1;
    -fx-border-color: #12755e;
    -fx-background-radius: 15;
    -fx-background-color: #12755e;
}
.menu-item:focused .label{
    -fx-text-fill: black;
}
.menu-item:focused:pressed .label{
    -fx-text-fill: white;
}
.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 15;
}


#rnd{
    -fx-background-color: null;
    -fx-text-fill:#139e7e;
    -fx-font-weight:bold;
    -fx-border-radius: 25;
    -fx-border-color: green;
    -fx-font-size: 14;
}
#rnd:hover{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color:null;
    -fx-background-color:#14856B;
    -fx-background-radius: 25;
    -fx-font-size: 14;

}


.text-area {
    -fx-background-color: #0d9475;
    -fx-text-fill: white;
    -fx-opacity: 90%;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


.table-view {
    -fx-background-color: transparent;

}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(20, 133, 107, 0.85), rgba(93, 196, 132, 0.79));
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10 0 10 0;
}
.table-view .column-header .label {
    -fx-text-fill: rgba(0, 0, 0, 0.81);
    -fx-font-size: 14;
}
.table-view .table-cell{
    -fx-border-color: rgba(0, 0, 0, 0.16);
    -fx-border-width: 0 0.5 0 0;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: black;
    -fx-font-weight: bold;
}
.table-row-cell:odd{
    -fx-background-color: rgba(13, 148, 117, 0.13);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(20, 133, 107, 0.34), rgba(93, 196, 132, 0.3));
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to bottom, rgba(20, 133, 107, 0.34), rgba(93, 196, 132, 0.3));
}
.table-row-cell:selected{
    -fx-background-color: rgba(20, 133, 107, 0.79);
    -fx-background-radius: 10;
}
.table-row-cell:selected .text {
    -fx-fill: black ;
    -fx-font-weight: bold;
}
.table-row-cell .text {
    -fx-fill: black ;

}
.text-field{
    -fx-background-color: white;
    -fx-background-radius: 10;
}










